.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 600px;
    height: 600px;
    gap: 1px;
    background-color: transparent;
}

.grid-item {
    background-color: #46ba7d;
    border: 1px solid #000406;

}

.button {
    grid-column: span 1;
    grid-row: span 1;
    background-color: #f00;
    color: #fff9f9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 2;
    width: 1fr;
    height: 1fr;
    resize: both;
    overflow: hidden;
}